<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TeamStream</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">


    <!-- your app's css -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/teamstream.css" rel="stylesheet">

    <!-- lib scripts -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- controllers -->
    <script src="app.js"></script>

    <!-- services -->

  </head>

  <body ng-app="app" ng-controller="AppCtrl">

    <h1>Team Stream 3.0</h1>
    
    <h3>Choose teams:</h3>
    <ul ng-controller="AllTeamsCtrl">
      <li ng-repeat="team in teams"><a href='#'>{{ team.teamname }}</a></li>
    </ul>

    <h3>Your teams:</h3>
    <ul ng-controller="UserTeamsCtrl">
      <li ng-repeat="team in teams"><a href='#'>{{ team.teamname }}</a></li>
    </ul>

    <h3>Headlines from your teams:</h3>
    <ul ng-controller="HeadlinesCtrl">
      <li ng-repeat="headline in headlines"><a href="{{ headline.links.web.href }}">{{ headline.headline }}</a></li>
    </ul>

  </body>

</html>
