<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TeamStream</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">


    <!-- your app's css -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/teamstream.css" rel="stylesheet">

    <!-- lib scripts -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- controllers -->
    <script src="app.js"></script>
    <script src="controllers/headlines.js"></script>
    <script src="controllers/teams.js"></script>

    <!-- services -->
    <script src="services/espn.js"></script>
    <script src="services/headlines.js"></script>
    <script src="services/teams.js"></script>

  </head>

  <body ng-app="app" ng-controller="AppCtrl">

    <h1>Team Stream 3.0</h1>
    
    <div class="teams" ng-controller="TeamsCtrl">
      <h3>Choose teams:</h3>
      <ul>
        <li ng-repeat="team in teams"><a ng-click="addTeam(team)">{{ team.name }}</a></li>
      </ul>

      <h3>Your teams:</h3>
      <ul>
        <li ng-repeat="team in userTeams"><a href='#'>{{ team.name }}</a></li>
      </ul>

      <h3>Your Headlines:</h3>
      <ul>
        <li ng-repeat="headline in userHeadlines"><a href="{{ headline.links.web.href }}">{{ headline.headline }}</a></li>
      </ul>

    </div>

    <h3>All Headlines:</h3>
    <ul ng-controller="HeadlinesCtrl">
      <li ng-repeat="headline in headlines"><a href="{{ headline.links.web.href }}">{{ headline.headline }}</a></li>
    </ul>

  </body>

</html>
