/* Custom Styles */

.multi-col-list {
  width: 100%;
}
.multi-col-list li {
  float: left;
  width: 33%;
}
.clear {
  clear: left;
}
a {
	color: #428bca;
}
.navbar {
background-color: #f8f8f8;
border-color: #e7e7e7;
}
.link-title {
	color: #000;
}
#headlines {
	margin-bottom: 30px;
}